---
---

<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.data.cv.name }}'s CV</title>
    <meta name="author" content="{{ site.data.cv.name }}"/>
    <meta name="description" content="{{ site.data.cv.name }}'s CV"/>
    <link rel="shortcut icon" href="/favicon.png">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet" media="all"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans:400,700">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oswald:400,300,700">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .cv-container {
            width: 700px;
            margin: 0 auto;
        }
        .cv-gray {
            color: #aaa;
        }
        body, h1, h2, h3, h4, h5, p, div, * {
            font-family: 'PT Sans', serif;
        }
        h1 {
            font-family: 'Oswald', serif;
            font-size: 4em;
        }
        .cv-publication-title {
            margin-top: 15px;
            margin-bottom: 5px;
        }
        .cv-english-title {
            color: #888;
            margin-top: 0;
            margin-bottom: 5px;
        }

        .skills {
            margin-right: 1em;
        }

        .projects {
            padding-top: 5px;
        }

        .projectskills {
            margin-top: -7px;
        }

        .copyright {
            text-align: center;
            margin-bottom: 15px;
        }

        @media print {
            /* In case you don't want the boxes on your printout... */
            /*.label {*/
            /*border: none;*/
            /*}*/

            /* Avoid printing hrefs when this class is applied */
            .nohref a[href]:after {
                content: "";
            }
        }
    </style>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44212597-2', 'auto');
      ga('send', 'pageview');

    </script>
</head>
<body>
<div class="cv-container container-non-responsive">
    <div class="text-center nohref">
        <h1>{{ site.data.cv.name }}</h1>
        <i class="fa fa-home cv-gray"></i> <a href="{{ site.data.cv.home }}"> {{ site.data.cv.home }}</a>
        &emsp;
        <i class="fa fa-envelope cv-gray"></i> <a href="mailto:{{ site.data.cv.email }}"> {{ site.data.cv.email }}</a>
        &emsp;
        <i class="fa fa-user cv-gray"></i> <a href="{{ site.data.cv.vcard }}">vCard</a>
    </div>

    <hr>

    <h2>Experience</h2>

    {% for item in site.data.cv.professional %}
    <div class="row">
        <div class="col-xs-8 nohref"><h3><a href="{{ item.link }}"><strong>{{ item.name }}</strong></a>
        </h3>
        </div>
        <div class="col-xs-4 text-right">
            <h5><em>{{ item.start | date: "%b %Y" }} to {{ item.end | date: "%b %Y" }}</em></h5>
            <h5>{{ item.location }}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4><em>{{ item.title }}</em></h4>

            <p>{{ item.summary }}</p>

            <div>

                {% for project in item.projects %}
                <div class="projects">
                    {% if project.link %}
                    <h5>
                        <a href="{{ project.link }}"><strong>{{ project.name }}</strong></a>
                        {% if project.links.ios %}<a href="{{ project.links.ios }}"><i class="fa fa-apple"></i></a>{% endif %}
                        {% if project.links.android %}<a href="{{ project.links.android }}"><i class="fa fa-android"></i></a>{% endif %}
                    </h5>
                    {% else %}
                    <h5>
                        <strong>{{ project.name }}</strong>
                        {% if project.links.ios %}<a href="{{ project.links.ios }}"><i class="fa fa-apple"></i></a>{% endif %}
                        {% if project.links.android %}<a href="{{ project.links.android }}"><i class="fa fa-android"></i></a>{% endif %}
                    </h5>
                    {% endif %}

                    <p>{{ project.description }}</p>

                    <p class="projectskills">
                        {% for skill in project.skills %}
                        <span class="label label-default skills"> {{ skill }} </span>
                        {% endfor %}
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}

    <hr/>

    <h2>Education</h2>
    {% for college in site.data.cv.education.colleges %}
    <div class="row">
        <div class="col-xs-6"><h3><a href="{{ college.link }}"><strong>{{ college.name }}</strong></a></h3></div>
        <div class="col-xs-6 text-right">
            <h5>{{ college.year }}</h5>
            <h5>{{ college.location }}</h5>
        </div>
    </div>
    <h4>{{ college.degree }}, {% if college.major %}<em>{{ college.major }}</em>{% endif %}</h4>
    <p>
        {% if college.adviser %}Adviser: {{ college.adviser }}<br />{% endif %}
        {% if college.dissertation %}Dissertation: <em>{{ college.dissertation }}</em>{% endif %}
    </p>
    {% endfor %}

    <hr/>

    <h2>Publications</h2>
    {% for publication in site.data.cv.publications %}
    <h4 class="cv-publication-title">
        {% if publication.link %}<a href="{{ publication.link }}">{% endif %}<strong>{{ publication.title }}</strong>{% if publication.link %}</a>{% endif %}
    </h4>
    {% if publication.engtitle %}
    <h5 class="cv-english-title">{{ publication.engtitle }}</h5>
    {% endif %}

    <p>
        {% for author in publication.authors %}
            {% if author.me %}<strong>{% endif %}{{ author.name }}{% if author.me %}</strong>{% endif %}{% unless forloop.last %},{% endunless %}
        {% endfor %}
        <br />
        in <i>{{ publication.publishedin }}</i>, {{ publication.year }}.
    </p>
    {% endfor %}

    <hr/>

    <h2>Book Chapter</h2>
    {% for publication in site.data.cv.books %}
    <h4 class="cv-publication-title">
        {% if publication.link %}<a href="{{ publication.link }}">{% endif %}<strong>{{ publication.title }}</strong>{% if publication.link %}</a>{% endif %}
    </h4>
    {% if publication.engtitle %}
    <h5 class="cv-english-title">{{ publication.engtitle }}</h5>
    {% endif %}

    <p>
        in <i>{{ publication.publishedin }}</i>, {{ publication.year }}.
        <br />
        {% for author in publication.authors %}
            {% if author.me %}<strong>{% endif %}{{ author.name }}{% if author.me %}</strong>{% endif %}{% unless forloop.last %},{% endunless %}
        {% endfor %}
    </p>
    {% endfor %}

    <hr/>

    <h2>Skills</h2>

    {% for skill in site.data.cv.skills %}

    <h5>{{ skill.name }}</h5>
    {% for item in skill.items %}
    <span class="label label-default skills"> {{ item.name }} </span>
    {% endfor %}

    {% endfor %}

    <hr/>

    <h2>Honors</h2>
    {% for item in site.data.cv.honors %}
    <h4>{{ item.year }} {{ item.name }}{% if item.detail %}, <em>{{ item.detail }}</em>{% endif %}</h4>
    {% endfor %}

    <hr/>

    <h2>Talks</h2>
    {% for item in site.data.cv.talks %}
    <h4>{{ item.year }} {{ item.name }} at <em><a href="{{ item.link }}">{{ item.where }}</a></em></h4>
    {% endfor %}

    <hr/>

    <div class="copyright">
        &copy; Sungwoo Choo. All rights reserved.<br />
        Last updated at {{ site.time | date_to_string }}.
    </div>

</div>
</body>
</html>
